* {
  font-family: "lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 96%;
  background-color: #fff;
  height: 50px;
  padding: 2%;
  align-items: center;
}

.web-nav {
  display: none;
}

.container > nav {
  color: #6070ff;
  text-align: center;
  align-self: center;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 20.5px;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6070ff;
  opacity: 0.9;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.hamburger-span {
  color: #000;
  font-size: 30px;
  cursor: pointer;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 11px;
  right: 5px;
  font-size: 30px;
  font-weight: normal;
  border: 2px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  background-image: url("images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  background-color: #fff;
}

.caption {
    margin: 3% 0;
  color: #172b4d;
  width: 80%;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  padding-left: 10%;
  align-items: center;
}

.title {
  color: #172b4d;
  width: 80%;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  padding-left: 10%;
}

.description {
  display: flex;
  color: #172b4d;
  width: 60%;
  margin: 5% 10%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 3px solid white;
}

.date {
  color: #172b4d;
  width: 80%;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  padding-left: 10%;
  margin: 5% 0;
}

.venue {
  padding-left: 10%;
  display: flex;
  color: #172b4d;
  width: 80%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
